<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fast Rename - quickly rename all files in a folder</title>
</head>
<body>
<form action="rename" method="post">
    <label >Folder Address:</label>
    <input type="text" name="directory-path" value="" placeholder="ex: C:\User\my_folder" required><br>

    <label>Starting Number:</label>
    <input type="number" name="starting-number" value="1"><br>

    <label>Number of Digits:</label>
    <input type="number" name="digits-number" value="2" min="1"><br>

    <label>Increment By:</label>
    <input type="number" name="increment-by" value="1" min="1"><br>

    <input type="checkbox" name="decrement">
    <label>Decrement</label><br>

    <label>Additional Name Pattern:</label>
    <input type="text" name="additional-name-pattern" value="-"><br>

    <input type="checkbox" name="name-pattern-trailing">
    <label>Name Pattern Trailing</label><br>

    <input type="checkbox" name="sorted">
    <label>Sort Alphabetically Before Renaming</label><br>

    <input type="submit" value="Rename">
</form>
</body>
</html>